/*! CSS Used from: https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css */
.fa{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.fa-angle-left:before{content:"\f104";}
.fa-chevron-circle-up:before{content:"\f139";}
.fa-chevron-circle-down:before{content:"\f13a";}
/*! CSS Used from: file:///E:/job%20site/css/index.css */
body{margin:0;}
img.imguserrev {
    width: 100%;
}
a.vadd {
    color: #fff;
}
div#servicepage {
    display: none;
}
div#holdersitevac {
    box-shadow: 0 0 2px 1px black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 100%;
}
.addvacationurl {
    position: absolute;
    left: 22px;
    background: green;
    padding: 5px;
    border-radius: 33px;
}
footer{position:relative;bottom:0;width:100%;height:200px;background:#fff;}
div#leftdropdown-one{width:300px;background:aliceblue;position:relative;right:15px;}
button.texttd{margin:11px;color:#fff;background:rgb(151, 151, 151);border:transparent;font-size:20px;border-radius:5px;width:300px;text-align:right;}
.holderrightpc{background:#ffffff;height:500px;width:231px;box-shadow:0px 0px 1px 1px #c8c7c7;border-radius:3px;display:table-cell;position: relative;/* top: 11px; */}
menu{direction:rtl;direction:rtl;padding:11px;min-height:33vw;}
.holderrightpc.left{width:84%;border:transparent;box-shadow:1px 1px 0px 0px #c8c7c7;}
ul.ultext{margin:0;}
button{outline:none;}
i.fa.fa-chevron-circle-down{float:left;}
i.fa.fa-chevron-circle-UP{float:left;color:#fff;position:relative;top:-34px;left:8px;z-index:2;background:#4192d7;width:21px;height:20px;font-size:20px;}
i.fa.fa-angle-left{float:left;}
button.texttd.leftclick-one{background:#4192d7;}
.infopage{position:relative;margin-top:20px;font-size:20px;background:#88bce1;text-align:center;padding:5px;border-radius:3px;}
@media only screen and (max-width: 900px){
i.fa.fa-angle-left {
    display: none;
}
i.fa.fa-chevron-circle-UP {
    float: left;
    color: #000;
    position: relative;
    top: -33px;
    left: 3%;
    background: #fff;
    width: 21px;
    height: 22px;
    font-size: 20px;
}
div#leftdropdown-one {
    width: 100%;
    background: aliceblue;
    position: relative;
    right: unset;
    padding: 0;
    box-shadow: inset 0 0 4px 0px black;
}
.holderdropdown {
    box-shadow: 0 0 0px 1px #28679e;
    margin: 0px 0px 0px 0px;
    padding-top: 9px;
}
.loadone {
    margin-top: 3px;
}
i.fa.fa-chevron-circle-down {
    float: left;
    font-size: 15px;
}
div#servicepage {
    display: block;
    margin: 0;
}
div#holderservice {
    margin-top: 20px;
}
button.texttd {
    margin: 11px;
    color: #090909;
    background: #d3d2d2;
    border: transparent;
    font-size: 20px;
    border-radius: 5px;
    width: 300px;
    text-align: right;
}
.centerdivtext {
    padding-right: 11px;
}
.addvacationurl {
    position: absolute;
    left: 5px;
    top: 2px;
    color: #fff;
}
a.vadd {
    color: #fff;
}
div#holdersitevac {
    width: 98%;
    padding-bottom: 33px;
    position: relative;
    left: -3px;
}
body{margin:0;min-width:900px;}
.infopage{margin-top: 11px;width: 100%;}
button.texttd.leftclick-one{background: transparent;font-size: 23px;width: 97%;margin: 0px 2px 5px 0px;color: #000;}
.holderrightpc{background:#ffffff;height:max-content;width:231px;box-shadow:unset;border-radius:3px;display:inline-block;}
.holderrightpc.right{background: #d3d2d2;width: 100%;text-align:center;}
button#clickone{text-align:center;width: 48%;height:71px;font-size: 19px;padding: 0;margin: 0;}
button#clicktwo{text-align:center;width: 48%;height:71px;padding: 0;margin: 0;}
.holderrightpc.left{width: 95%;box-shadow: 0px -1px 0px 4px #4192d7;position: relative;left: -2.5%;}
menu{min-height:213vw;}
}
/*! CSS Used fontfaces */
@font-face{font-family:'FontAwesome';src:url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');src:url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot#iefix&v=4.7.0') format('embedded-opentype'),url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}