#tableinsert {
  border-collapse: collapse;
  width: 100%;
}

#tableinsert td, #tableinsert th {
  border: 1px solid #ddd;
  padding: 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 7px;
  padding-top: 7px;
}
input.inputtext.locatiopn {
    width: 89%;
}
select.personal.selct {
    width: 85%;
    padding: 7px;
    border-radius: 7px;
}
select.selectoptionm {
    font-size: 15px;
    padding: 5px;
    border-radius: 7px;
}
td.tdtext.insert {
    width: 50%;
    box-shadow: inset 0 0 1px 0px black;
}
.titltinert {
    background: aliceblue;
    padding: 7px;
    font-size: 20px;
}
.infopage {
    position: relative;
    margin-top: 20px;
    font-size: 20px;
    background: #88bce1;
    text-align: center;
    padding: 5px;
    border-radius: 3px;
}
input.insert-1 {
    background: green;
    color: #fff;
    padding: 11px;
    font-size: 13px;
    font-weight: bold;
    border: transparent;
    border-radius: 7px;
}
select.selectcond {
    border-radius: 5px;
    padding: 5px;
}
td.tdtext.insert.no {
    background: red;
    border-radius: 7px;
}
a.urlinbsert {
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
}
.textcond {
    padding: 30px;
}
input.inputtext {
    padding: 7px;
    border-radius: 7px;
    border: transparent;
    box-shadow: 0 0 1px 0px black;
    font-size: 15px;
    text-align: center;
    width: 79%;
    outline: none;
}
input.insert-1:hover {
    background: #055f05;
}
td.tdtext.insert.no:hover {
    background: #b20101;
    border-radius: 7px;
}
.titlrtexthed {
    background: #88bce1;
    text-align: right;
    padding: 14px;
    color: #fff;
    font-size: 15px;
    font-weight: bolder;
}
#tableinsert tr:nth-child(even){background-color: #f2f2f2;}

#tableinsert .intd:hover {background: #88bce1;color:#fff;}

#tableinsert th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}